.merriweather-normal .inter-normal {
  font-family: "Merriweather", "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


body {
  font-family: "Merriweather", "Inter", sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* Hero Section */

header {
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url(../images/Banner\ Image.png) no-repeat center center;
    border-radius: 16px;
    max-width: 1320px;
    height: 600px;
    margin: 50px auto;
    text-align: center;
}

.hero {
    padding: 175px 345px;
}

.hero-sub-title {
    font-size: 32px;
    font-style: merriweather;
    font-weight: regular;
    color: #fff;
    margin: 0px;
}

.hero-main-title {
    font-size: 72px;
    font-style: merriweather;
    font-weight: bolder;
    color: #fff;
    margin: 0px;
}

.discount {
    margin: 120px auto;
    align-items: center;
    text-align: center;
}

.descount-offer {
    font-size: 88px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #FF0000;
    margin: 0px;
}

.discount-sub-title {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FF0000;
    margin: 48px 0 0 0;
}

.discount-title {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #070211;
    margin: 16px 0 0 0;
}

.discount-image {
    margin-top: 48px;
}

/* Welcome Section */

.welcome {
    justify-content: center;
    display: flex;
    align-items: center;
    background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url(../images/Vectorrr.png) no-repeat center center;
    border-radius: 16px;
    margin: 120px auto;
    padding: 68px 126px 68px 138px;
}


.welcome-title {
    width: 642px;
    font-size: 64px;
    font-family: "Merriweather", sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0px;
}

.welcome-text {
    width: 697px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #dadada;
    margin: 24px 0 48px 0;
}

.welcome-button {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* Timer Section */

.timer {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(to bottom, rgba(255, 0, 0, 0.1), rgba(0, 0, 0, 0));
    height: 482px;
    border-radius: 16px;
    margin: 120px auto;
    padding: 68px 126px 68px 138px;
}

.timer-text {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

.timer-text span {
    color: #FF0000;
}

.time-btn {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: #FF0000;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 48px;
}

.time-btn:hover {
    background-color: #e60000;
    transition: background-color 0.3s ease;
}

/* Coming Soon Section */

.coming-soon-cld {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 120px auto;
}

.first {
    width: 393px;
    height: 255px;
}

.coming-soon-sub-title {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FF0000;
    margin-top: 0px;
    margin-bottom: 16px;
}

.coming-soon-title {
    font-size: 48px;
    font-family: "Merriweather", sans-serif;
    font-weight: bolder;
    color: #070211;
    margin-top: 0px;
    margin-bottom: 16px;
}

.coming-soon-text {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    margin: 0px;
}

.snd {
    border: #FF0000 15px solid;
    border-radius: 100%;
    padding: 50px;
}

.trd {
    width: 276px;
}

.year {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #FF0000;
    margin-top: 0px;
    margin-bottom: 16px;
}

.trd img {
    margin-top: 45px;
} 

/* Holi Offer Section */

.holi-offer div {
    width: 1320px;
    justify-content: center;
    align-items: center;
}

.holi-offer div .holi-offer-text {
    width: 1068px;

}

.holi-offer {
    text-align: center;
    margin: 120px auto;
}

.holi-offer-sub-title {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FF0000;
    margin-top: 0px;
    margin-bottom: 16px;
}

.holi-offer-title {
    font-size: 72px;
    font-family: "Merriweather", sans-serif;
    font-weight: 800;
    color: #070211;
    margin-top: 0px;
    margin-bottom: 16px;
}

.holi-offer-title span {
    color: #FF0000;
}

.holi-offer-text {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    margin: 0 0 64px ;
}

.holi-offer-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/Rectangle\ 2.png) no-repeat bottom center;
}

/* Portfolio Section */

.portfolio {
    text-align: left;
    margin: 120px auto;
}

.portfolio-sub-title {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FF0000;
    margin-top: 0px;
    margin-bottom: 16px;
}

.portfolio-title {
    font-size: 48px;
    font-family: "Merriweather", sans-serif;
    font-weight: bolder;
    color: #070211;
    margin-top: 0px;
    margin-bottom: 16px;
}

.portfolio-text {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    margin: 0 0 48px 0;
    width: 896px;
}

.portfolio-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.portfolio-images img {
  width: 100%;
  height: auto;
  display: block;
}

/* Newsletter Section */

.newsletter {
    background-color: #fff2f2;
    border-radius: 16px;
    text-align: center;
    margin: 120px auto;
    padding: 80px 212px;
}

.newsletter-title {
    font-size: 48px;
    font-family: "Merriweather", sans-serif;
    font-weight: bolder;
    color: #070211;
    margin-top: 40px;
    margin-bottom: 22px;
}

.newsletter-text {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #4d4d4d;
    margin: 0 0 48px 0;
}

.newsletter-form {
    width: 684px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
}

.newsletter-input {
    width: 60%;
    padding: 25px 0 25px 30px;
    border: none;
    font-size: 18px;
    outline: none;
    border-radius: 0;
}

.newsletter-btn {
    width: 40%;
    padding: 25px 0;
    border: none;
    background-color: #FF0000;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.newsletter-btn:hover {
    background-color: #cc0000;
}


/* Footer Section */

.footer {
  background-color: #0B0223;
  color: #fff;
  font-family: "Inter", sans-serif;
  padding: 60px 20px;
  margin: 0 auto;
}

.footer-container {
  max-width: 1320px;
  margin: 0 auto;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 40px;
}

.footer-address,
.footer-contact {
  min-width: 250px;
  font-size: 18px;
  line-height: 1.6;
}

.footer-contact p i {
  margin-right: 10px;
}

.footer-social {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-social a {
  margin: 0 10px;
  font-size: 24px;
  color: white;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  background-color: #1A1A1A;
  transition: background 0.3s;
}

.footer-social a:hover {
  background-color: #ff0033;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  font-size: 16px;
  flex-wrap: wrap;
}

.left-text,
.right-text {
  margin: 10px 0;
}

/* Responsive Styles */



