.merriweather-normal .inter-normal {
  font-family: "Merriweather", "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


body {
  font-family: "Merriweather", "Inter", sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* Hero Section */

header {
    justify-content: center;
    align-items: center;
    background: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url(../images/Banner\ Image.png) no-repeat center center;
    border-radius: 16px;
    max-width: 1320px;
    height: 600px;
    margin: 50px auto;
    text-align: center;
}

.hero {
    padding: 175px 345px;
}

.hero-sub-title {
    font-size: 32px;
    font-style: merriweather;
    font-weight: regular;
    color: #fff;
    margin: 0px;
}

.hero-main-title {
    font-size: 72px;
    font-style: merriweather;
    font-weight: bolder;
    color: #fff;
    margin: 0px;
}

.discount {
    margin: 120px auto;
    align-items: center;
    text-align: center;
}

.descount-offer {
    font-size: 88px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #FF0000;
    margin: 0px;
}

.discount-sub-title {
    font-size: 24px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #FF0000;
    margin: 48px 0 0 0;
}

.discount-title {
    font-size: 48px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #070211;
    margin: 16px 0 0 0;
}

.discount-image {
    margin-top: 48px;
}

/* Welcome Section */

.welcome {
    justify-content: center;
    display: flex;
    align-items: center;
    background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
    url(../images/Vectorrr.png) no-repeat center center;
    border-radius: 16px;
    margin: 120px auto;
    padding: 68px 126px 68px 138px;
}


.welcome-title {
    width: 642px;
    font-size: 64px;
    font-family: "Merriweather", sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin: 0px;
}

.welcome-text {
    width: 697px;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #dadada;
    margin: 24px 0 48px 0;
}

.welcome-button {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* Timer Section */

.timer {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    background: 
    linear-gradient(to bottom, rgba(255, 0, 0, 0.1), rgba(0, 0, 0, 0));
    height: 482px;
    border-radius: 16px;
    margin: 120px auto;
    padding: 68px 126px 68px 138px;
}

.timer-text {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #000000;
    margin: 16px;
}

.timer-text span {
    color: #FF0000;
}

.time-btn {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #ffffff;
    background-color: #FF0000;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 48px;
}

.time-btn:hover {
    background-color: #e60000;
    transition: background-color 0.3s ease;
}

/* Coming Soon Section */

.coming-soon-cld {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 120px auto;
}

.first {
    width: 393px;
    height: 255px;
}

.snd {
    border: #FF0000 15px solid;
    border-radius: 100%;
    padding: 50px;
}

.trd {
    width: 276px;
}